name: Deploy para Heroku na Main

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Fazer checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Instalar dependências Python
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Configurar Node.js # <-- NOVO PASSO
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Use uma versão LTS do Node.js
          
      - name: Instalar Heroku CLI # <-- NOVO PASSO
        run: npm install -g heroku
        
      - name: Deploy para Heroku
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "pos-tech-ml-tech-challenge-api"
          heroku_email: ${{ secrets.HEROKU_EMAIL }}